<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Transações Financeiras</title>
</head>
<body>
    <h1>Listagem de Transações Financeiras</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Data</th>
                <th>Funções</th> 
            </tr>
        </thead>
        <tbody>
            <tr th:each="transacao : ${transacoes}">
                <td th:text="${transacao.id}"></td>
                <td th:text="${transacao.descricao}"></td>
                <td th:text="${transacao.valor}"></td>
                <td th:text="${transacao.data}"></td>
                <td>
                    <a th:href="@{/api/transacoes/editar/{id}(id=${transacao.id})}">Editar</a>
                    <a th:href="@{/api/transacoes/excluir/{id}(id=${transacao.id})}">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>